{% load static %}
<nav class="navbar navbar-light" id="background-color-header">
  <div class="container">
    <div class="links-container">
      <a href="{% url 'azucafe:login' %}" class="admin-info">
        <div class="admin-panel-text text-white">Кафе АЗУ</div>
      </a>
      <hr class="my-2 border-white" style="width: 100%; margin: 0 auto;">
      <a href="{% url 'azucafe:cafe_list' %}" class="admin-info">
        <div class="admin-panel-text text-white">Панель администратора</div>
      </a>
    </div>
    <div class="d-flex ms-auto">
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
      <div class="rounded-2 ms-2" style="background-color: rgb(47, 98, 2); padding: 5px 3px;">
        <a class="nav-link link-light" href="/azucafe/admin/">Настройка</a>
      </div>
      {% endif %}
      <div class="logout-button-wrapper rounded-2 ms-2" style="background-color: rgba(220, 81, 50, 1); padding: 5px 3px;">
        <a class="nav-link link-light" href="{% url 'azucafe:logout' %}">Выйти</a>
      </div>
    {% endif %}
  </div>
  </div>
</nav>
