{% extends 'payments/payment_base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-2">
        <img 
            src="{% static 'img/red_cross.png'%}"
            width="200px"
            height="200px"
            class="rounded-circle"
        >
    </div>
    <div class="col-md-8">
        <h2 style="color:red">Во время оплаты произошла ошибка.</h2>
        <p>Вернитесь в <a href="{{ bot_address }}">Telegram</a> и повторите оплату.</p>
        {% if order %}
            {% include 'payments/payment_order_detail.html' with order=order %}
        {% endif %}
    </div>
</div>
{% endblock %}